[core]
    pager = "delta --color-only"

[include]
    # personal details in here
    path = ~/.gitconfig-local

[color]
	diff = auto

[push]
	default = simple

[rerere]
    enabled = true

[alias]
    co = checkout[core]
    pager = "delta"
    br = branch
    cc = commit
    st = status
    rbi = rebase --interactive origin/master
    cm = checkout master
    dm = diff master
    am = commit --amend
    p = pull
    sr = rebase --exec 'git commit --amend --no-edit -n -S'

[delta]
    light = false
    theme = gruvbox-dark
    keep-plus-minus-markers = true
    file-style = "magenta normal"
    zero-style = "normal normal"
    plus-style = "green #26342c"
    plus-emph-style = "green #2b4134"
    minus-style = "red #342626"
    minus-emph-style = "#d95a5a #562222"

[gpg]
    format = ssh
[gpg "ssh"]
	allowedSignersFile =  ~/.config/git/allowed_signers
[log]
	showSignature = true
[init]
	defaultBranch = master

